body {
    font-family: "Montserrat";
}

#title {
    background-color: #4e944f;
    color: #fff;
}

.container-fluid {
    padding: 3% 8%;
}

h1 {
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: bold;
}

h2{
    font-family: "Montserrat";
    font-weight: bold;
}

h3 {
    font-family: "Montserrat";
    font-weight: bold;
}

p {
    color: #7c7b7b;
}

.navbar {
    padding: 0 0 4.5rem;
}

.navbar-brand {
    font-family: "Ubuntu";
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 10px;
}

.nav-link {
    font-size: 1.2rem;
}

/* logo */
.logo {
    border-radius: 100%;
    width: 100px;
}
.angle-sign{
    margin-left: 60px;
}

/* Hello Button */
.hello-button {
    margin: 20px;
}

/* Title Image */
.title-image {
    width: 60%;
    transform: rotate(25deg);
    
    
}

/* Feature */
/* 
#features {
    padding: 10px;
    background-color: #fff;
    position: relative;
} */

.feature-box {
    text-align: center;
    padding: 5%;
}

.icon {
    color: #ef8172;
    margin-bottom: 1rem;
}

.icon:hover {
    color: #ff4c2c;
}

/* product box */
.product-image {
    height: 200px;
    width: 150px;
    padding: 20px;
    margin: auto;
    
}
.product-box{
    text-align: center;
    padding: 5%;
    font-size: 12px;
}
.market-price{
    color: #ff4c2c;
    text-decoration: line-through;
}

/* testimonials section */

#testimonials{
    padding: 5% 10%;
    text-align: center;
    background-color: #4e944f;
    color: #fff;
}
.testimonials-image{
    width: 100px;
    border-radius: 100%;
    margin: 20px;
}
.carousel-item{
    padding: 7% 15%;
}

/* Press */
#press{
    background-color: #4e944f;
    text-align: center;
    padding-bottom: 3%;
}
.press-logo{
    width: 25%;
    padding: 10px;
}

/* Pricing section */
#pricing{
    padding: 100px;
    text-align: center;
    background-color: #e7ede7;
    margin-top: 0;
}
.pricing-column{
    padding: 3%;
}
/* Footer */
#footer {
    padding: 50px;
    text-align: center;

}
